@layer components {
    .noScroll {
        @apply w-full overflow-hidden;
    }

    .main-menu-overlay {
        &.active {
            @apply pointer-events-auto opacity-100;
        }
    }

    .main-menu {
        &.visible {
            @apply flex;
        }

        &.active {
            @apply transform translate-x-0;
        }

        .slide {
            &.active {
                @apply transform -translate-x-full;
            }
        }

        .nav-constrain {
            &.active {
                @apply opacity-100 max-h-infinite;
            }
        }
    }
}

@media (min-width: 768px) {
    .nav-container:hover > a::before {
        opacity: 100;
    }

    .nav-container:hover > a::after {
        opacity: 100;
    }
}