@layer components {
    .main-menu-overlay {
        @apply block h-full fixed inset-0 opacity-0 pointer-events-none bg-black bg-opacity-25 z-10 transition-all duration-500 ease-in;

        &.active {
            @apply pointer-events-auto opacity-100;
        }
    }

    .main-menu {
        @apply hidden flex-col w-full h-full max-w-screen-sm fixed top-0 left-0
        transform -translate-x-full overflow-hidden transition-transform duration-300 ease-in
        border-r border-gray-300 bg-white z-30;

        /*has a delay for 300s*/
        &.visible {
            @apply flex;
        }

        &.active {
            @apply transform translate-x-0;
        }

        .close-button-container {
            @apply flex justify-end items-center mt-3 pb-3 border-b border-solid border-gray-300;
        }

        .scroll-pane {
            @apply h-full mb-4 overflow-x-hidden;

            .slide {
                @apply w-full transform translate-x-0 transition duration-300 ease-in;

                &.active {
                    @apply transform -translate-x-full;
                }

                .main-nav-container {
                    @apply container flex flex-col;

                    .main-nav {
                        @apply flex flex-col flex-nowrap;

                        .nav-container {
                            @apply flex items-center h-14 border-b border-solid border-gray-300;

                            .nav-link {
                                @apply flex items-center h-14 w-full justify-between;
                            }

                            .nav-constrain {
                                @apply block w-full max-h-0 overflow-hidden absolute top-0 left-full bg-white
                                opacity-0 z-10 transition duration-300 ease-in;

                                &.active {
                                    @apply opacity-100 max-h-infinite;
                                }

                                .nav-layout {
                                    @apply relative w-full

                                    .nav-item {
                                        @apply flex items-center border-b border-solid border-gray-300 h-10;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }







/*        .slide {
            @apply h-full transform -translate-x-0 transition-transform duration-300 ease-in;

            &.active {
                @apply transform -translate-x-full;
            }
        }*/

/*        .main-nav {
            @apply flex flex-col flex-nowrap;

            .main-nav--container {
                @apply flex items-center h-14 border-b border-gray-300;

                .main-nav--link {
                    @apply flex items-center justify-between h-full w-full text-gray-500;
                }

                .main-nav--constrain {
                    @apply z-10 max-h-0 overflow-hidden opacity-0 w-full absolute top-0 left-full bg-white
                    transition-all duration-150 ease-out;

                    &.active {
                        @apply opacity-100 max-h-infinite;
                    }

                    .sub-nav--item  {
                        @apply flex h-14 border-b border-gray-300 items-center;
                    }
                }
            }
        }*/
    }
}